{% extends "base.html" %}
{% load cms_tags %}

{% block body %}

<div class="container" style="margin-left:5px;">
     <div class="row">
        <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-6 col-sm-7" id="content">
                <div class="row">
                    <h2>Struggle to Learn</h2>

                    <p>Coming soon in this section all the updates about how everything is going.</p>

                    <p>New creations, new animations, new game design. Live with us the first steps of an world-wide collaborating community.</p>

                </div>

           <div class="row" id="share">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                <p><a href="https://twitter.com/XplorationApp" class="twitter-follow-button" data-show-count="false" data-size="medium">@XplorationApp</a></p>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
           </div>

           <div class="row" style="margin-top:50px; border: 1px solid; padding:10px;">
               <p><h2>The Very Starting point</h2></p>
                <div class="col-lg-4 col-sm-4">
                    <img class="img-thumbnail" style="float: left;margin-bottom: 15px;width:450px; height:auto;" src="https://pbs.twimg.com/media/Bmq0fPLCQAA5x5X.jpg"/>
                    <p styl="padding-left:25px;">
                        Our team is born thanks to <b>Space Apps Challenge</b>. We are nothing more than some random people, passionate about space, who met on a Saturday morning in Rome, Italy. We discovered the competition independently and went blindly to the event, moved by our passion for innovation and information sharing.</p><p>When teams had to be formed we found each other in a great confusion and, excited about our challenge, we started working. At first, we experienced the thrill of brainstorming and the preliminary disorganization that always strikes a new group of people working together for the first time. Soon we learned how our competencies fit together and we changed our pace. New ideas and new solutions came up, sub-teams started working in harmony: we truly were gears of the same mechanism! Our minds were so into our project that we barely slept that night (2 hours each, on the floor).</p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <img class="img-thumbnail" style="float: left;margin-bottom: 15px;width:450px; height:auto;" src="https://pbs.twimg.com/media/BmJLoTHCMAEhfyr.png"/>
                    <p>The next morning we still managed to continue our work, pushed by the creating environment surrounding us: people were helping each other all over the place and we were like all the others, exchanging programming tips and development strategies.</p><p>When the final presentation time came, we were exhausted and, even though we hoped to be selected for the next phase, all we could think about was a king sized bed and how great this experience was for all of us, how much we learned. The jury disappeared and a few minutes later everyone was awakened by their hearts, pumping like drums to keep their eyes open til the very end. <b>It was like a flash: we were called as "Best Mission Concept" and all of a sudden we were launched into space!</b> A new energy started flowing and we begun to celebrate with all our new friends met that weekend. It was A M A Z I N G!</p>

                </div>
                <div class="col-lg-4 col-sm-4">
                    <img class="img-thumbnail" style="float: left;margin-bottom: 15px;width:450px; height:auto;" src="https://pbs.twimg.com/media/BmKCR5ACYAAOnBz.jpg"/>
                    <p>
                        But we could not stop! A video had to be presented within days and, despite how the competition would have evolved, we truly wanted to complete our project, something that we felt as our own. We decided to keep working on Project Chronos and the Xploration apps, to give every space enthusiast a taste of <b>how great it is to design something complex, to provide everyone with a simple access to every space mission by international space agencies</b>, to feel the joy of doing something that can change the perspective of many. And we hope to continue to do that, with your support. Because you can help us providing something unique, you can show the way, you can reach for the stars. You.
                        </p>
                </div>
                <div class="row" class="margin-top:3%;">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p><h2>
                        Because anyone can be interested.
                        </h2></p>
                    </div>
                </div>
           </div>


                <div class="row">

                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>

        <div class="col-md-6">

                <div class="row our-clients" style="margin:3% 0 35px 0;">
                  <div class="clients-carousel custom-carousel touch-carousel">
                    <div class="container client-item item" style="margin-top:3%;">
                         <iframe style="min-height:350px;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" src="//www.youtube.com/embed/zDWpt1UCybc?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
            </div>

    </div>


    <div class="row">
                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
        <div class="col-md-6">



                <div class="row our-clients" style="margin:3% 0 35px 0;">
                  <div class="clients-carousel custom-carousel touch-carousel">
                    <div class="container client-item item" style="margin-top:3%;">
                         <iframe style="min-height:350px;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" src="//www.youtube.com/embed/MBEZfkThWgk?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
            </div>

    </div>

    <div class="row">
<div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
        <div class="col-md-6">



                <div class="row our-clients" style="margin:3% 0 35px 0;">
                  <div class="clients-carousel custom-carousel touch-carousel">
                    <div class="container client-item item" style="margin-top:3%;">
                        <iframe style="min-height:350px;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" src="//www.youtube.com/embed/bF6s-GJzrLE?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
            </div>

    </div>

        </div>
     </div>
</div>


<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "729c3d19-f531-469b-abdc-c3003eb199f5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<style type="text/css">
    #content > div > p {
        margin-top:25px;
    }
    #share {
        text-align:right;
    }
</style>

{% endblock %}