{% extends "base.html" %}
{% load cms_tags %}

{% block body %}

    <section class="site--content">
         <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Prototyping? Yes thanks.</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>A new piece of design is in town: the textual version of the <a href="http://simulation.spacexplore.it/" target="_blank">simulator</a> is up for a try and some feedback. </p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 19.7.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/outer-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">OKFest 2014</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">
                <p>Chronos is also in Berlin these days, at <a href="http://2014.okfestival.org/" target="_blank">Open Knowledge Festival</a>:
                look for <a target="_blank" href="https://twitter.com/jdurandi">@jdurandi</a> to have a fantastic business card and some news!</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 16.7.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/shark-space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Test Phase: First Step</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">

                <p>Test phase started at math and physics summer campus near Novara(Italy), thanks to <a target="_blank" href="https://www.facebook.com/christopher.paissoni">Christopher</a></p></section>
            <footer class="post--meta">
                <span class="post--date">On: 15.7.2014 </span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
        <article class="blog--post">
            <header class="post--header">
                <img src="/static/assets/images/space.jpg" alt="">
                <div class="post--header-text">
                    <h1 class="post--title">Struggle to Learn</h1>
                </div>
            </header>
            <section class="post--content wysiwyg">

                <p>Coming soon in this section all the updates about how everything is going.</p>
                <p>New creations, new animations, new game design. Live with us the first steps for a world-wide collaborating community.</p>
            </section>
            <footer class="post--meta">
                <span class="post--date">On: 10.7.2014</span>
                <span class="post--author">By: Chronos</span>
            </footer>
        </article>
    </section>
    <section  class="site--content" style="margin-top:25px;">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' st_via="XplorationApp" displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_sharethis_large' displayText='ShareThis'></span>
    </section>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
        stLight.options({
            publisher: "729c3d19-f531-469b-abdc-c3003eb199f5",
            st_title: " ",
            st_message: "Follow the news to know how everything get developed!",
            doNotHash: false,
            doNotCopy: false,
            hashAddressBar: false});</script>


{% endblock %}


