{% extends "base.html" %}
{% load cms_tags %}

{% block body %}

<div class="container" style="margin-left:5px;">
     <div class="row">
        <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-6 col-sm-7" id="content">
                <div class="row">
                    <h2>Pre-Launch Phase</h2>
                    <p>Our project is now developing into a platform. Our mission was accepted and entered the operative phase. Different teams in different countries are gathering
                       materials and information to fashion a great user-experience in terms of design, IT and aerospace knowledge.</p>

                    <p>The platform will take the shape of a <b>community</b> interacting with <a href="/tools">tools and <b>&apos;serious games&apos;</b></a>, users are going to experience into
                        living locations and involving atmosphere. There will be a common ground to interact with the tools. We want it to be a big construction site for ideas,
                        assembling fields of knowledge, or connecting peripheral pieces of concepts, creating new possible ways to progress. </p>

                    <p>Because of the approach that drives our quest for learning, we will engage users with a <b>perceptive immersion</b> into logical thinking,
                        graphics and sounds. We will tend to make them feel every virtual &apos;location&apos;  inside the platform as a audio-video installation
                        surrounding a learning environment.</p>

                    <p>We want to describe data and space-related infotech through flow charts and graphs. To let users capture consistently <b>patterns</b>
                        and directions in different know-hows.</p>

                    <p>We are designing some <b>multiplayer</b> action, to guide classes of users into proactive challenges to improve group members
                        coordination and collaboration.</p>

                    <p>We plan massive use of <b>Learn-By-Playing features</b> in the platform, from a basic ‘starter kit’ with Newtonian physics and basic about payloads, to new gorgeous features and news for expert users
                        (data-handling and data-visualization from real missions).</p>

                    <p></p>

                    <p>Stay tuned to know when our crowd-funding campaign will start!</p>

                </div>

                <div class="row" id="share">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                    <p><a href="https://twitter.com/XplorationApp" class="twitter-follow-button" data-show-count="false" data-size="medium">@XplorationApp</a></p>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                </div>

            </div>
     </div>
</div>


<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "729c3d19-f531-469b-abdc-c3003eb199f5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


<style type="text/css">
    #content > div > p {
        margin-top:25px;
    }
    #share {
        text-align:right;
    }
</style>
{% endblock %}