{% extends "layout.html" %}

{% block body %}


    <div class="row" style="margin-top:3%;">
        <div class="col-md-12">
            <div class="container" style="margin-top:3%;"> 

                <b>
                    <p>
                    Welcome  to Xploration!</p>
                    <p>
                    A Solar System's Satellites Exploration Showcase</p>
                    <p>
                    Coming soon... </p>
                </b>
                <br>
                <br>
                <p style="font-family: 'Lora', serif;">{{status}}</p>

            </div>
        </div>
    </div>

{% endblock %}