{% extends "base.html" %}
{% load cms_tags %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=154575411336636";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <div class="business-header" style="margin-top:110px;">

    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <!-- <h2>What We Do</h2> -->
                <div class="row" style="padding-left:2%;">
		        <p style="font-family: 'Lora', serif;font-weight:bold;"> We Are Developing Xploration App For Your Devices And A REST Service For Developers Interested In Space Agencies' Activities. 
		          We integrated informations from Space Agencies, that was the aim of <a target="_blank" class="" href="https://2014.spaceappschallenge.org/project/chronos/">SpaceApps' Road-Map Challenge</a></p>
		         <p style="font-family: 'Lora', serif;font-weight:bold;text-align:center;"><a target="_blank" class="" href="https://www.facebook.com/pages/Xploration/241831932686033">Stay Tuned!</a></p>
                </div>
                <div class="row" style="margin-top:15px;">
		        <div class="col-md-3 col-sm-3"><p class=""><a class="btn btn-default btn-large" href="/webapp/start">Try Out Demo &raquo;</a></p></div>
		        <div class="col-md-5 col-sm-5"><p class=""><a class="btn btn-default btn-large" href="/webapp/wphonebeta/">Enroll For WindowsPhone Beta &raquo;</a></p></div>
		        <div class="col-md-4 col-sm-4"><p class=""><a class="btn btn-default btn-large" href="/webapp/data/planets">Browse Data Demo &raquo;</a></p></div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
               <p><a href="https://twitter.com/XplorationApp" class="twitter-follow-button" data-show-count="false" data-size="medium">@XplorationApp</a></p>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              
                <p class="fb-like" data-href="https://www.facebook.com/pages/Xploration/241831932686033" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-square img-responsive text-center" src="http://placehold.it/300x300">
                <h2>Marketing Box #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-square img-responsive" src="http://placehold.it/300x300">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-square img-responsive" src="http://placehold.it/300x300">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>

        <hr>

       <div class="row">
             <div class="col-lg-2 col-sm-4"></div>
            <div class="col-lg-8 col-sm-4">

                  <div class="" style="margin:auto auto auto auto;">
                    <div class="" style="margin-top:3%;margin:auto auto auto auto;"> 
                         <iframe style="min-height:350px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="//www.youtube.com/embed/zDWpt1UCybc?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
 
            </div>

             <div class="col-lg-4 col-sm-4"></div>
      </div>
      
      <hr>
 
      <div class="row">
        <div class="col-lg-2 col-sm-2"></div>
            <div class="col-lg-8 col-sm-8">
                <div class="row our-clients">
                    
                    <!-- Classic Heading -->
                    
                    
                    <div class="clients-carousel custom-carousel touch-carousel">
                        
                        <!-- Client 1  -->
                        <div class="col-md-3 client-item item sponsor">
                            <a href="https://2014.spaceappschallenge.org/project/chronos/"><img class="img-thumbnail"  src="http://americanlivewire.com/wp-content/uploads/index14-300x300.jpg" alt="" /></a>
                        </div>

                        <div class="col-md-3 client-item item sponsor">
                            <a target="_blank" href="http://www.nasa.gov"><img class="img-thumbnail" src="/static/images/nasa_logo.png" alt="" /></a>
                        </div>

                        <div class="col-md-3 client-item item sponsor">
                            <a href="http://www.esa.int"><img class="img-thumbnail" src="http://www.esa.int/esalogo/images/downloads/Logo_Fingerprint/Office_presentation/04_logo_white.bmp" alt="" /></a>
                        </div>
                        
                        
                        <!-- Client 4 -->
                        <div class="col-md-3 client-item item sponsor">
                            <a href="http://www.jaxa.jp/projects/index_e.html"><img class="img-thumbnail" src="http://www.isas.jaxa.jp/home/labam/image/jaxa2.png" alt="" /></a>
                        </div>
                        
                      
                       
                    </div>
                </div>
                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            </div>
            <div class="col-lg-2 col-sm-2"></div>

    	</div>

</div>
<!-- /container -->




<div id="loader">
    <div class="orbital">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
</div>  
</div>


<style>
body {
    background-image: url(/static/images/background.svg); background-size: cover; height: 100%;
    overflow-x:hidden;

    background-repeat: no-repeat;
}

#video {
    margin-left: 5em;
}

.click {
    margin: 2.5em 0 0 0em;
    text-align:center;
}
</style>

<script>
$(window).load(function(){
    setInterval (function () {
        $('#loader').fadeOut();
    }, 5999);
    setInterval (function () {
        $('body').css({ 'overflow-y': 'scroll'})
    }, 5999);
});
</script>

{% endblock %}
