{% extends "base.html" %}
{% load cms_tags %}

{% block body %}


		<section class="site--content wysiwyg">
			<h1>Explore Demos</h1>
			<p>Surfing a well-drive gravity momentum, some little piece of knowledge are assembling into some solid but still shapeless entities. Here the early demos we are working on, scattered matter into a nebula, developing into something that, by now, can be only foreseen:</p>
			<h2>Simulator Demo</h2>
			<p><a href="http://simulation.spacexplore.it/">Play and go in-depth about ships.</a></p>

			<h2>K-Maps</h2>
			<p><a href="http://www.spacexplore.it/cytomap/0/">Explore science with knowledge maps.</a></p>

			<h2>Missions HUD</h2>
			<p><a href="http://www.spacexplore.it/webapp/data/missions/">Navigate missions intuitively.</a></p>

			<p>... just few, very short, billions of years and they will become gorgeous stars or binary system with their own fascinating attitude ready to be studied.</p>
			<p>Follow them!</p>
            <p style="margin-top:25px;">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
            </p>
        </section>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "729c3d19-f531-469b-abdc-c3003eb199f5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

{% endblock %}