{% extends "base.html" %}
{% load cms_tags %}

{% block body %}


<div class="container" style="">
     <div class="row">
        <div class="col-lg-2 col-sm-3"></div>
            <div class="col-lg-4 col-sm-5" id="content">
                <div class="row">
                    <h2>Early Demos</h2>

                    <p>Surfing a well-drive gravity momentum, some little piece of knowledge are assembling into some
                        solid but still shapeless entities. Here the <b>early demos</b> we are working on, scattered matter into a nebula,
                        developing into something that, by now, can be only foreseen:
                    </p>
                    <p><ul style="">
                        <li>
                            codename <a target="_blank" href="/webapp/data/missions">kmissions</a>: missions HUD
                        </li>
                        <li>
                            codename <a target="_blank" href="/cytomap/0/">kmap</a>: crowd-sourced knowledge maps
                        </li>
                        <li>
                            codename <a target="_blank" href="http://simulation.spacexplore.it">simulator</a>: design your own mission
                        </li>
                    </ul></p>

                    <p>... just few, very short, billions of years and they will become gorgeous stars or binary system with their own fascinating
                        attitude ready to be studied.</p>

                    <p>Follow them!</p>

                </div>

           <div class="row" id="share">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
           </div>
        </div>
        <div class="col-lg-3 col-sm-3" style="margin-left: 25px;">
             <a class="twitter-timeline"  href="https://twitter.com/XplorationApp"  data-widget-id="491996856931450881" data-chrome="transparent">Universe News</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
     </div>
</div>


<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "729c3d19-f531-469b-abdc-c3003eb199f5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script type="application/javascript">
          $('#imglogo').children('img').remove();
          $('#imglogo').append('<div style="width:145px;"></div>');
</script>

<style type="text/css">
    #content > div > p {
        margin-top:25px;
        margin-bottom: 50px;
    }
    #share {
        text-align:right;
    }
</style>
{% endblock %}