{% extends "applayout.html" %}

{% block body %}
<div class="row first-row">
    <div class="col-md-12">
        <div class="container" style=""> 
            <div class="row">
                <div class="col-md-6">
                    <ul style="padding-left:10px;">
                        <li><i class="glyphicon glyphicon-ok"></i>
                            <span>Your mission is going to {{d_obj.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumbs">
                        <li><a href="/webapp/home">Start</a></li>
                        <li><a href="/webapp/start">Define</a></li>
                        <li>Plan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="">
    <div class="col-md-12">
        <div class="container" style="margin-top:3%;"> 
                    <p>
                        <b>
                        <h3>Mission:</h3> What are you going to do in space?
                        </b>
                    </p>
        </div>
    </div>
</div>

<div class="row" style="display:none;" id="show-row">
    <div class="col-md-12">
        <div class="container" style="margin-top:3%;"> 
            <div id="show-message" style="max-width:60%; margin:auto auto; padding: 15px; padding-left:10px; border-radius:15px; border: 1px solid red;">
            </div>
        </div>
    </div>
</div>

<div class="row" style="">
        <div class="col-md-1"></div>
        <div class="col-md-10">
           <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>    
                {% for m in missions %}
                {% if forloop.first %}
                    <div class="row">
                {% endif %}
                {% ifequal forloop.counter|divisibleby:3 1 %}
                    <div class="row">
                {% endifequal %}
                 <!-- Start Icon Box 1-->
                        <div class="col-md-3 service-box service-center">
                            <div class="service-boxed">
                                <div class="service-icon" style="margin-top:-30px;">
                                 
                                        <i class="glyphicon icon-medium-effect"></i>
                             
                                </div>
                                <div class="service-content">
                                    <h4>{{m.name}}</h4>
                                    <div style="width:200px;height:200px;margin: auto auto;"><img src="{{t.image_url}}" style="margin: auto auto;"/></div>
                                    <p style="margin-bottom:20px;">{{m.description}}</p>
                                    <p><a mission="{{m.slug}}" class="submit btn btn-default" href="#">Choose</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Icon Box 1-->
                        {% ifequal forloop.counter|divisibleby:3 1 %}
                             </div>
                        {% endifequal %}
                        {% if forloop.last %}
                             </div> 
                        {% endif %}
                        {% endfor %}
                                          
        </div>
</div>

{% block script %}
<script>

$('.submit').on('click', function(){
    mission = $(this).attr('mission');

    url = '/simulation/?destination={{destination}}&mission='+mission

    console.log(url)

    $.ajax({
    url: url,
    type: 'GET',
    async: false,
    success: function (data) {
        console.log(data)
        if (data.code == 0) {
                $('#loader').fadeIn();
            setInterval (function () {
                window.location.href = '/webapp/go/to/{{destination}}/to/'+mission
            }, 5999);
        }
        else { 
            $('#show-row').fadeIn('slow')
            $('#show-message').html('<p style="font-weight:bold;color:red;"><span style="font-size: 80%;">The Tech Fellow says</span>: <span style="font-style: italic;">"'+data.content+'"</span></p>')
            $('#show-message').addClass('bg-danger')
            setInterval(function () {
                $('#show-message').html('')
                $('#show-row').fadeOut();

            }, 5999);

        }

        
    },
    error: function (xhr, ajaxOptions, thrownError) {
        console.log('Errore:' + xhr.status);
        console.log(thrownError);
    }
    });

});

</script>
{% endblock %}

{% endblock %}