{% extends "base.html" %}
{% load cms_tags %}

{% block body %}
<div class="row first-row">
    <div class="col-md-12">
        <div class="container" style=""> 
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <ul style="">
                        <li><i class="glyphicon glyphicon-ok"></i>
                            <span>Your mission is going to {{d_obj.name}}</span>
                        </li>
                        <li><i class="glyphicon glyphicon-ok"></i>
                            <span>Goal: {{m_obj.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumbs">
                        <li><a href="/webapp/home">Start</a></li>
                        <li><a href="/webapp/start">Define</li>
                        <li><a href="/webapp/go/to/{{destination}}">Plan</a></li>
                        <li>Design I</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="">
    <div class="col-md-12">
        <div class="container" style="margin-top:3%;"> 

            <div class="b_white" style="">
                <b>
                    <p>
                    Payload is the basics of the mission: choose the instruments you want to carry outside Earth&apos;s atmoshpere.</p>
                </b>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            <h1 class="text-center">Choose Payloads To Assemble For {{m_obj.name}}</h1>
            <div id="target" class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            <div id="show-message" style="max-width:60%; margin:auto auto; padding: 15px; padding-left:10px; border-radius:15px; border: 1px solid red;display:none;margin-bottom:30px;">
            </div>
        </div>
    </div>
{% for p in payloads %}
    <div class="row">
        <div class="col-md-9">
        
        <div class="list-group">
            <div class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="http://placehold.it/80x80" alt="" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> {{p.name}} </h4>
                    <p class=""> {{p.description}}
                    </p>
                </div>
                <div class="col-md-3 text-center">

                        <input type="checkbox" id="{{forloop.counter}}" class="checkbox" data-slug="{{p.slug}}"/>
                        <label for="{{forloop.counter}}">Assemble</label>
                </div>
            </div>
        </div>
        </div>
    </div>
     {% endfor %}
     <div class="row">
        <div class="col-md-9">
             <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
             <p style="text-align:right;"><a id="submit" class="btn btn-primary btn-lg">Payload Design Is A Go</a></p>
             <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
        </div>
    </div>
</div>

<div id="loader" style="display:none;" >
    <div class="orbital">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
</div>  
</div>


{% block script %}
<script type="text/javascript">
(function UncheckAll(){ 
      var w = document.getElementsByTagName('input'); 
      for(var i = 0; i < w.length; i++){ 
        if(w[i].type=='checkbox'){ 
          w[i].checked = false; 
        }
      }
})($(window)); 

var containsElem = function(obj, list) {
    var i;
    for (i = 0; i < list.length; i++) {
        if (list[i] === obj) {
            return true;
        }
    }

    return false;
}

var checkAndGo = function(payloads, base_url) {
    var args = payloads.join('&')
    console.log(args)
    url = base_url+args
    $.ajax({
        url: url,
        type: 'GET',
        async: true,
        success: function (data) {
            console.log(data)
            if (data.code == 1) {
                $('html, body').animate({
                    scrollTop: $("#target").offset().top
                }, 800);
                $('#show-message').html('<p style="font-weight:bold;color:red;"><span style="font-size: 80%;">The Tech Fellow says</span>: <span style="font-style: italic;">"'+data.content+'"</span> ('+data.type+')</p>')
                $('#show-message').addClass('bg-danger')
                $('#show-message').fadeIn('slow')
                setTimeout(function () {
                    $('#show-message').fadeOut();
                    $('#show-message').html('')
                }, 5999);

            }
            else {
                $('#loader').fadeIn();
                setTimeout(function () {
                    to_go = payloads.join('-')
                    to_go = to_go.replace(/=true/g, '')
                    window.location.href = '/webapp/go/to/{{destination}}/to/{{m_obj.slug}}/payload/'+to_go
                }, 5999);
            }

            
        },
        error: function (xhr, ajaxOptions, thrownError) {
            console.log('Errore:' + xhr.status);
            console.log(thrownError);
        }
    });

}


$(document).ready(function () {


var payloads = []
var base_url = '/simulation/?destination={{destination}}&mission={{m_obj.slug}}&'

$('.checkbox').on('change', function(){
    //console.log($(this).attr('checked'))
    //console.log($(this).attr('data-slug'))
    var el = $(this).attr('data-slug')+'=true'
    var state = $(this).attr('checked')
    if ($(this).attr('checked') == 'checked'){
        payloads.push(el)
    }
    else {
        if (containsElem(el, payloads)){
            var index = jQuery.inArray(el, payloads)
            if (index > -1) {
                payloads.splice(index, 1);
            }
        }
    }
    
    console.log(payloads)
    
});

$('#submit').on('click', function(){

    if (payloads.length == 0) {

        document.body.scrollTop = document.documentElement.scrollTop = 0;
        $('#show-message').html('<p style="font-weight:bold;color:red;"><span style="font-size: 80%;">The Tech Fellow says</span>: <span style="font-style: italic;">"Designing a vehicle without payload.. Want to waste fuel and do some littering?"</span></p>')
        $('#show-message').addClass('bg-danger')
        $('#show-message').fadeIn('slow')
        setTimeout(function () {
            $('#show-message').fadeOut();
            $('#show-message').html('')

        }, 5999);

    }
    else {
       checkAndGo(payloads, base_url)
    }

});

});
</script>
{% endblock %}
<style type="text/css">
body {
    background-image: url(/static/images/background.svg); background-size: cover; height: 100%;
    overflow-x:hidden;
    /*overflow-y:hidden;*/
    background-repeat: no-repeat;
}
div.list-group-item {
    height:auto;
    min-height:110px;
    background-color: transparent;
}
div.list-group-item.active small {
    color:#fff;
}


input[type="checkbox"].checkbox {
    display: none;
}
input[type="checkbox"].checkbox + label {
    display: inline;
    position: relative;
    background-color: #b94a48;
    
    /*label styling*/
    padding: 2px 4px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"].checkbox:checked + label {
    background-color: #468847;
}

input[type="checkbox"].checkbox:disabled + label {
    opacity: 0.5;
}

a#submit  {
    background-color: #468847;
}
</style>
{% endblock %}
