<!DOCTYPE HTML>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
	<head>
	    <title>Project Chronos - Cytomaps</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/images/favicon.png">

	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" media="screen">
	    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen">

	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <script src="//cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
    </head>

    <body>
 <div class="col-md-12" style="margin-top:100px; margin-bottom:50px;">
     <div class="col-md-3">
         <ol class="button-group">
             <li style="color: #000;">Click to choose a payload</li>
               {% for p in payloads %}
                  <li><a href="/cytomap/{{p.id}}" class="btn btn-sm">{{p.name}}</a></li>
               {% endfor %}
             <li>&nbsp;</li>
             <li>&nbsp;</li>
             <li style="color: #000;">RED: Component</li>
             <li style="color: #000;">GREEN: Datum</li>
             <li style="color: #000;">BLACK: Mission</li>
             <li style="color: #000;">GREY: Field</li>
             <li style="color: #000;">Zoom with mousewheel</li>
             <li style="color: #000;">Hover on nodes for more info</li>
             <li style="color: #000;">Drag nodes to clear edges</li>
             <li style="color: #000;">Double-click on Data to visit the link</li>
             <li style="color: #000;">Hold button and move to pan</li>
         </ol>
     </div>
     <div class="col-md-8">
<div id="cy">

{% if state == '0' %}

    </div>
     {% else %}


         <script type="application/javascript">
                 $(window).ready(function(){ // on dom ready
                    $('#cy').cytoscape({

                      style: cytoscape.stylesheet()
                        .selector('node')
                          .css({
                            'font-size': 7,
                            'text-valign': 'center',
                            'color': '#fff',
                            'text-outline-width': 1,
                            //'text-outline-color': '#888',
                            'min-zoomed-font-size': 7,
                            //'width': 'mapData(score, 0, 1, 20, 50)',
                            //'height': 'mapData(score, 0, 1, 20, 50)',
                          })
                        .selector('node[type = "component"]')
                          .css({
                            'background-color': 'red',
                            'text-outline-color': '#666',
                            'content': 'data(name)'
                          })
                         .selector('node[type = "field"]')
                          .css({
                            'background-color': '#4d4d4d',
                            'text-outline-color': '#333'
                          })
                        .selector('node[type = "datum"]')
                          .css({
                            'background-color': 'green',
                            'text-outline-color': '#333'
                          })
                        .selector('node[type = "mission"]')
                          .css({
                            'background-color': '#000',
                            'text-outline-color': '#333'
                          })
                        .selector('edge')
                          .css({
                            'curve-style': 'haystack',
                            'opacity': 0.666,
                            'width': 'mapData(normalized_max_weight, 0, 0.01, 1, 2)'
                          })
                        .selector('edge[data_type = "Predicted"]')
                          .css({
                            'line-color': '#F6C28C'
                          })
                        .selector('edge[data_type = "Physical interactions"]')
                          .css({
                            'line-color': '#EAA2A3'
                          })
                        .selector('edge[data_type = "Shared protein domains"]')
                          .css({
                            'line-color': '#DAD4A8'
                          })
                        .selector('edge[data_type = "Co-expression"]')
                          .css({
                            'line-color': '#D0B7D3'
                          })
                        .selector('edge[data_type = "Pathway"]')
                          .css({
                            'line-color': '#9BD8DD'
                          })
                        .selector('edge[data_type = "Co-localization"]')
                          .css({
                            'line-color': '#A0B3D8'
                          }),

                      elements: cy3json,

                      layout: {
                        name: 'concentric',
                        concentric: function(){
                          return this.data('weight');
                        },
                        levelWidth: function(nodes){
                          return nodes.maxDegree() / 4;
                        },
                        padding: 10
                      },

                      //textureOnViewport: true,
                      hideEdgesOnViewport: true,

                      ready: function(){
                        window.cy = this;

                        // giddy up...

                        cy.elements().unselectify();


                        cy.on('tap', 'node', function(){
                          cy.elements().addClass('faded');
                          window.open( this.data('href') );
                        });

                        cy.on('mouseover', 'node', function(e){
                            var node = e.cyTarget;
                            if (node.element()._private.data.type != "component") {
                                node.css('content', 'data(name)');
                            }

                        });
                        cy.on('mouseout', 'node', function(e){
                            var node = e.cyTarget;
                            //console.log(node.element()._private.data.type);
                            if (node.element()._private.data.type != "component") {
                                node.css('content', '');
                            }
                            else {
                                node.css('content', 'data(name)');
                            }
                        });
                      }
                    });

                    }); // on dom ready

                    var cy3json = {{data|safe}}
         </script>


   </div>
{% endif %}


     </div>
</div>

<style type="text/css">
body { background-color: #ffffff;}
#cy {
  height: 850px;
  width: 99%;
  position: absolute;
  left: 0;
  top: 0;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}
</style>

    </body>
</html>