{% extends "simple.html" %}
{% load cms_tags %}

{% block body %}

        <div class="row row-first">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <p><h2>About {{m_name}}</h2></p>
        </div>

        <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>

        <div class="row row-first">
            <div class="col-md-1"></div>
            <div class="col-md-10">
             {% for d in details %}
                <div class="row">
                    <div class="col-md-1">
                        {% if d.image_link|safe == 'None' %}

                        {% else %}
                        <img style="margin: 5px auto 5px;" class="media-object img-rounded img-responsive" src="{{d.image_link}}" />
                        {% endif %}
                    </div>
                    <div class="col-md-4"  style="border-bottom:2px solid #eee;">
                        <b>{{d.header}}</b>
                    </div>
                    <div class="col-md-4" style="border-bottom:2px solid #eee;">
                        {% if d.detail_type == 3 %}
                            <a target="_blank" href="{{d.body}}">Read news</a>
                        {% elif d.detail_type == 4 %}
                            <a target="_blank" href="{{d.body}}">Website</a>
                        {% elif d.detail_type == 8 %}
                            {{d.body}}
                        {% else %}
                            {% if d.header == 'ESA Science' %}
                                <a target="_blank" href="{{d.body}}">Go To Page</a>
                            {% else %}
                                {{d.body}}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        {% if d.date|safe != 'None' %}
                        <p style="font-size:10px;;">{{d.date|date:"d M Y"}}</p>
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </div>

                </div>
             {% endfor %}
            </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row first-row">
                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
                {% if ref == 'missions' %}
                <p><a href="/webapp/data/missions/?page={{back_page}}">Back</a></p>
                {% else %}
                <p><a href="#" onclick="history.go(-1);return false;">Back</a></p>
                {% endif %}
                <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
            </div>
         </div>
    </div>
 </div>

body { background-color: #000;}



{% endblock %}
