{% extends "base.html" %}
{% load cms_tags %}

{% block body %}


    <div class="row" style="">
        <div class="col-md-12">
            <div class="container"> 

                <div class="b_white" style="margin-top: 150px;">
                    <b>
                        <p>
                        Welcome to Xploration!</p>
                        <p>
                        Solar System's Satellites Launching Pad</p>

                    </b>
                    
                    <div class="click"><a class="btn btn-default" href="/webapp/start">Demo</a></div>
                    <div class="click"><a class="btn btn-default" href="/webapp/data/planets" disable>Browse Data</a></div>
                    <div class="click"><a class="btn btn-default" href="/webapp/wphonebeta/" disable>Enroll for Beta</a></div>   
                </div>
                <div class="click">
                <p style="font-style: italic;">This is just a demo, only some features are implemented to present the actual aim of the app.<br/> Full featured coming soon...</p>
                </div>
            </div>
        </div>
    </div>

<style>
body {
    background-image: url(/static/images/background.svg); background-size: cover; height: 100%;
    overflow:hidden;
    background-repeat: no-repeat;
}
.b_white > p {
    color: #fff;
    margin-left: 2em;
}

.b_white > b > p {
    color: #fff;
    margin-left: 2em;
}

.click {

    margin: 2.5em 0 0 5em;

}
</style>

{% endblock %}
