{% extends "base.html" %}
{% load cms_tags %}

{% load filters %}

{% block body %}
 <div class="col-md-12">
       <div class="row">  
              <div class="col-md-1"></div>
              <div class="col-md-5">
                   <ol class="button-group">
                          <li><a href="/webapp/data/instruments" class="btn"">Instrumentation</a></li>
                          <li><a href="/webapp/data/components" class="btn"">Components</a></li>
			  <li><a href="/webapp/data/missions" class="btn"">Missions</a></li>
			  <li><a href="/webapp/data/planets" class="btn"">Planets</a></li>
		   </ol>
              </div>
            <div class="col-md-3">
                 <ul class="breadcrumbs">
                    <li><a href="/webapp/home">Start</a></li>
                    <li>Data</li>
                 </ul>
             </div>
       </div>
</div>



<!-- price & service -->
<div class="container">
                    
   

{% if what|safe == 'planets' %}
   <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row row-first">
              	<h1>Planets</h1>
        </div>

 <hr>
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="row">
   
        </div>
        {% for b in bodies|group_by:3 %}
            <div class="row" style="margin-top:15px;">
                {% for obj in b %}
                    <div class="col-md-4" id="home-box">
                        <div class="row first-row">
                            <div class="pricing_header">
                                <h2>{{obj.target.name}}</h2>
                            <div class="space"></div>
                            </div>
                        </div>
                        <div class="row first-row" style="margin-top:3px;">
                        <ul class="list-group">
                            <li class="list-group-item on"><span class="glyphicon glyphicon-ok"></span>Light: {{obj.light}}</li>
                            <li class="list-group-item on"><span class="glyphicon   glyphicon-ok"></span>Mass: {{obj.mass}}</li>
                            <li class="list-group-item on"><span class="glyphicon glyphicon-ok"></span>Diameter: {{obj.diameter}}</li>
                            <li class="list-group-item on"><span class="glyphicon glyphicon-ok"></span>Density: {{obj.density}}</li>
                            <li class="list-group-item on"><span class="glyphicon glyphicon-ok"></span>Gravity:{{obj.gravity}}</li>
                            <li class="list-group-item on"><span class="glyphicon glyphicon-ok"></span>L-Year: {{obj.l_year}}</li>
                        </ul>
                        
                        </div>
                        <div class="row first-row">      
                        <div class="try">
                            <p class="price"></p>
                            <a class="btn btn-default" href="/webapp/go/to/{{obj.target.slug}}" type="button">Try in Simulation</a>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        {% endfor %}
        <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
    </div>
{% endif %}

{% if what|safe == 'missions'%}

<script src="/static/js/isotope.pkgd.min.js"></script>
   <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row row-first">
              	<h1>Missions</h1>
        </div>

 <hr>

        <div class="row first-row">
        <div class="col-md-12">



<div id="sorts" class="button-group"><h5 style="margin-bottom:5px;">Sort By:</h5>
  <!-- <button class="button is-checked" data-sort-value="original-order">pk</button>-->
  <button class="button is-checked" data-sort-value="name">name</button>
  <button class="button" data-sort-value="agency">agency</button>
  <button class="button" data-sort-value="category">era</button>
</div>

<div class="isotope">

    {% for k,v in bodies.iteritems %}
    {% if k != 'number' %}

  <div class="element-item {{v.obj.get_era_display|lower}} " data-category="{% if v.obj.era|safe == '0' %}
                   0
                {% elif v.obj.era|safe == '1' %}
                   3
                {% elif v.obj.era|safe == '2' %}
                   2
                {% elif v.obj.era|safe == '3' %}
                   1
                {% endif %}" data-agency="
        {% if v.obj.nasa|safe == 'True' or v.obj.esa|safe == 'True' or v.obj.jaxa|safe == 'True' %}
    	{% if v.obj.nasa|safe == 'True' %}
            1
        {% endif %}    
        {% if v.obj.esa|safe == 'True' %}
           2
        {% endif %}
        {% if v.obj.jaxa|safe == 'True' %}
           3 
        {% endif %}
        {% else %}
           4
    {% endif %}">
    <h3 class="name"><a style="color:#000;" href="/webapp/data/missions/details/{{v.obj.id}}?ref=missions">{{k}}</a></h3>
   <p class="symbol"> {% if v.obj.nasa|safe == 'True' or v.obj.esa|safe == 'True' or v.obj.jaxa|safe == 'True' %}
    	{% if v.obj.nasa|safe == 'True' %}
            <a style="color:#000;" href="{{link_url}}">NASA</a>&nbsp;
        {% endif %}    
        {% if v.obj.esa|safe == 'True' %}
            <a style="color:#000;" href="{{link_url}}">ESA</a>&nbsp;
        {% endif %}
        {% if v.obj.jaxa|safe == 'True' %}
            <a style="color:#000;" href="{{link_url}}">JAXA</a>&nbsp;
        {% endif %}
    {% else %}
     others
    {% endif %}
    </p>
    </p>
    <p class="number">{{v.obj.get_era_display}}</p>
    <p class="weight">{{v.targets|safeseq|join:", "}}</p>
  </div>



    {% endif %}
    {% endfor %}

</div>


         <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
    </div>


<style>

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
    margin-bottom:15px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
background: none;
  border: 1px solid #fff;
  color: #fff;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.isotope {
  /*border: 1px solid #333;*/
  max-width: 1200px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
border-radius: 10px;;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  padding-top:6px;
  position: absolute;
  line-height:13px;
  left: 10px;
  top: 15px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline; 
}

.element-item .symbol {
  position: absolute;
  line-height:13px;
  left: 10px;
  top: 120px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

/*
.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
*/

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
  color: #000;
  line-height:13px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 75px;
  font-size: 12px;
  color: #000;
  line-height:13px;
}

.element-item.future          { background: #eee; /* background: hsl(   0, 100%, 50%); */ }
.element-item.concept  { background: #ccc; /* background: hsl(  36, 100%, 50%); */}
.element-item.past      { background: #08F; /*background: hsl(  72, 100%, 50%);*/ }


</style>
<script>
$( function() {
  // init Isotope
  var $container = $('.isotope').isotope({
    itemSelector: '.element-item',
    layoutMode: 'fitRows',
    getSortData: {
      name: '.name',
      agency: '[data-agency]',
      number: '.number',
      category: '[data-category]',
      weight: '.weight'
    }
  });

  // bind sort button click
  $('#sorts').on( 'click', 'button', function() {
    var sortValue = $(this).attr('data-sort-value');
    if (sortValue == 'agency') sortValue = ['agency', 'name']
    if (sortValue == 'category') sortValue = ['category', 'name']
    $container.isotope({ sortBy: sortValue });
  });

  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });
  
});
</script>


{% endif %}

{% if what|safe == 'components'%}
   <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row row-first">
              	<h1>Components: Bus And Payloads</h1>
        </div>

 <hr>

    
        <div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" disabled><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        </div>
        <div class="row first-row">
        <div class="col-md-12">
                <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>types</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in bodies %}
                        <tr>
                            <td>{{m.category}}</td>
                            <td>{{m.name}}</td>
                            <td>{{m.description}}</td>
                            <td>{% for c in m.pbtype.all %}
                                    {% if forloop.last %}
                                    {{c.name}}
                                    {% elif forloop.first %}
                                    {{c.name}}<br/>
                                    {% elif forloop.counter|divisibleby:2 %}
                                    {{c.name}},
                                    {% else %}
                                    {{c.name}},
                                    {% endif %} 
                                {% endfor %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

    <div class="hr5" style="margin-top:40px; margin-bottom:40px;"></div>
    </div>
<script type="text/javascript">
$(document).ready(function() {
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    $('#system-search').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search tbody');
        var tableRowsClass = $('.table-list-search tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {
        
            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();
                
            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
        }
    });
});
</script>
{% endif %}

{% if what|safe == 'instruments'%}

   <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row row-first">
              	<h1>Scientific Instruments In space</h1>
        </div>

 <hr>

    
        <div class="row">
        <div class="col-md-3"></div>
           <div class="col-md-10">
           
                <h2>Detectors</h2>
         
       
                <h5>Optical Detectors</h5>
         
            <p>Think of the human eye: it can be considered as a light detector: the collected light infringes on the retina, an electrical impulse is propagated through the optic nerve to the brain, which interprets it as an information regarding the environment we are in: this is what we call <em>vision</em>. However, the light our eyes collect, the <em>visible</em> light, is not the only one it exists. The heat that lets the skin sunburn in summer or the microwaves cooking food in few minutes are other types of light, which we are not able to see. A whole spectrum of light exists, the <a target="_blank" href='http://missionscience.nasa.gov/ems/01_intro.html'> electromagnetic spectrum</a>:</p>

            <p>It is clear from the picture that light is (one should better say, is <em>also</em>) a <a target="_blank" href='http://missionscience.nasa.gov/ems/02_anatomy.html'>wave</a>, like those you get when you pull a rope up and down: only, you don't have the rope, but something called the <a target="_blank" href='http://en.wikipedia.org/wiki/Electromagnetic_field'>electromagnetic field</a>. From all this light (Radio, Microwave, Infrared...) it is possible to extract information about the surroundings. That's what <em>spectrometers</em> mounted on spacecrafts do, and the working principle is the same as for our eyes: light infringes on a surface, an electrical current is generated, read out and analyzed with the due electronics.</p>

            <p>The picture shows some spacecrafts having detectors for specific wavelengths.</p>
            
            <h2>Visual sensors: the Spectrometers</h2>
            <p>
            But how do they work? The basic fact is rather simple, although the guy who discovered it was Albert Einstein, in 1905. Not that simple then... This fact is called <em>Photoelectric Effect</em>. Basically, light is <em>also</em> a particle. When it hits a surface with due energy it is able to kick off electrons. And a travelling electron is already an electrical current, isn't it?
            <br/>
            Do you want to know more about how light does it? Look at this video!</p>

            <div class="row our-clients" style="margin:3% 0 35px 0;">
              <div class="clients-carousel custom-carousel touch-carousel">
                <div class="container client-item item" style="margin-top:3%;"> 
                    <iframe style="min-height:350px;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" src="//www.youtube.com/embed/wFY9ZvUmM5o?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              
	      </div>
	    </div>
          </div>
	</div>


{% endif %}


</div>


<style type="text/css">
#home-box > h2 { color: #eee; float:right;}
div.pagination { color: #eee; }
.price { font-size: 25px; float: left; }
.pricing_header { background: none repeat scroll 0% 0% rgb(204, 204, 204); border-radius: 5px 5px 0px 0px; transition: background 0.4s ease-out 0s; }
.pricing_header h2 { text-align:center; line-height: 25px; padding: 15px 0px; margin: 0px;  font-weight: 400; color: #000; }
.list-group-item:first-child { border-top-right-radius: 0px; border-top-left-radius: 0px; }
.btn { float: right;  font-weight:500;}
.on { color: rgb(86,86,86); }
.space {height: -25px; background-color: #000;}

.first-row {margin-left:1%;}
</style>
{% endblock %}
