<!DOCTYPE HTML>
<!--[if IE 8 ]><html class="ie ie8" lang="it"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="it" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <title>Xploration! Anyone Can Be Interested</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{keywords}}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen">
    
    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
<!-- Container -->
<div class="row" style="min-height:190px;">
    <div class="col-md-12">
    <!-- Start Header -->
        <header class="clearfix">
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-family: 'Lora', serif;font-weight:bold;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;l&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;r&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;n
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Header ( Logo & Navigation ) -->
            <div class="navbar navbar-default navbar-top">
                <div class="col-md-1">
                    <div class="navbar-header col-md-5">
                    
                        <!-- Stat Toggle Nav Link For Mobiles 
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="icon-menu-1"></i>
                        </button>
                        <!- End Toggle Nav Link For Mobiles -->
                        <a class="navbar-brand" href="/"><img alt="" src="/static/images/logo150x150.png"></a>
                        
                    </div>
                </div>
            </div>
            <!-- End Header ( Logo & Naviagtion ) -->
        </header>
    </div>
</div>

{% block body %}
{% endblock %}




    <script type="text/javascript" src="/static/js/modernizrr.js"></script>
</body>
</html>